*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{

    background-color: rgb(34, 98, 247);
}
.box{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: row;
    width: 20vw;
    height: 25px;
    margin: 20vh auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(251, 244, 244, 0.2) ;
}
input{
    width: 88%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 10px;
}
